.version {
  margin-left: 1rem;
  font-size: 0.9rem;
  color: #aaa;
}

.import-export-controls {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  display: flex;
  gap: 1rem;
}

#import-json,
#export-json {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #555;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
}